<!-- Connection page. -->
<form role="form" (submit)="login()">
    <!-- Input for user name. -->
	<div>
		<label for="username">Username:</label> 
        <input type="text" id="username" name="username" [(ngModel)]="user.username"/>
	</div>
    <!-- Input for password. -->
	<div>
		<label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password"/>
	</div>
    <!-- Button submitting login (call form's Angular event handler (submit)="login()"). -->
	<button type="submit">Connection</button>
</form>  